{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row-fluid">
    <div class="span8" style="min-height:600px;padding-top:50px">
      <h1>Niestety nic tu nie ma</h1>
      <br />
      <br />
      <p>To, czego szukasz, prawdopodobnie nigdy nie istniało. To tylko halucynacje z niedożywienia i śmierć. <a href="http://spoleczenstwo.newsweek.pl/dowcipy-o-lotewskich-chlopach--halucynacje-z-niedozywienia-i-smierc-,105065,1,1.html" target="_blank">Trud twój skończony</a>.</p>
    </div>
  </div>
</div>

{% endblock %}

