<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mamy przeciek! Zocha, dawaj wiadro!</title>
</head>
<body>
    <h1>Ktoś nam podłożył świnię</h1>
    <h2>Spokojnie. Pojedziemy i znajdziemy go, jak tylko nafutrujemy konia.</h2>
    <img src="{{ asset('bundles/krakenwarm/images/putin.jpg') }}" />
    <p><small>Co się właściwie stało: "{{ status_code }} {{ status_text }}". Rozumiesz coś z tego? <br />
    My wiemy trochę więcej i postaramy się to naprawić niebawem. Jeśli chcesz się wyżalić, <a href="mailto:juzefwt@wp.pl">skontaktuj się z nami</a>.</small></p>
</body>
</html>