{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1>Co to jest</h1>
      </div>
      <div id="meanwhile" style="font-size: 16px">
        <p>Trafiłeś na pierwsze rzetelne i przyjazne zwykłym ludziom narzędzie pomagające w podejmowaniu decyzji o inwestycjach w ogrzewanie domu. Dowiesz się tutaj, jakiej mocy kotła potrzeba do ogrzania twojego domu, porównasz koszty ogrzewania różnymi paliwami oraz sprawdzisz jakich mocy grzejników potrzebujesz do poszczególnych pomieszczeń.</p>
        <p>Zbudowałeś dom. Chcesz kupić kocioł węglowy, ale nie wiesz z jakiej fabryki i o jakiej mocy. Sąsiad poleca 25kW blaszaka z najbliższego marketu, a sprzedawca w markecie radzi 32kW, aby mieć zapas na mrozy. U nas dostaniesz oszacowanie (bo dane o budynku, które podasz, nigdy nie będą stuprocentowo dokładne), ale jednak bliższe rzeczywistości 
        - oparte na informacjach o konstrukcji domu i normach budowlanych, a nie na <em>widzimisię</em>. W ten sposób dowiesz się, że najpewniej wystarczy ci 8kW.</p>
        <p>Na <a href="http://czysteogrzewanie.pl" target="_blank">CzysteOgrzewanie.pl</a> znajdziesz przegląd wyrobów większych producentów, zaś tutaj dowiesz się, jakiej mocy kotła faktycznie potrzebujesz, by najbliższe lata życia upłynęły ci na życiu, a nie na walce z problemami nieznanymi w innych kotłowniach.</p>
        <p>Tutaj możesz także porównać koszty ogrzewania innymi paliwami (w nowych domach nawet ogrzewanie pelletem kosztuje podobnie do węgla) oraz sprawdzić, jakiej mocy grzejników potrzebujesz.</p>
        <h2>Kto za tym stoi</h2>
        <p>Żaden producent, sprzedawca ani nawet instalator z branży grzewczej. Strona jest częścią serwisu <a href="http://czysteogrzewanie.pl" target="_blank">CzysteOgrzewanie.pl</a>. Jeśli szukasz kontaktu z autorem, chcesz o coś zapytać, podziękować albo nawrzucać, to <a href="http://czysteogrzewanie.pl/o-tej-stronie/">szukaj tutaj</a>.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
