{% extends '::landing.html.twig' %}

{% block body %}

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1>Co to jest</h1>
      </div>
      <div id="meanwhile" style="font-size: 16px">
        <p>Trafiłeś na pierwsze, rzetelne i przyjazne zwykłym ludziom narzędzie pomagające w podejmowaniu decyzji o inwestycjach w domową instalację grzewczą.</p>
        <p>&nbsp;</p>
        <p>Chcesz kupić piec węglowy, ale nie wiesz z jakiej fabryki i o jakiej mocy? Sąsiad poleca 25kW blaszaka z najbliższego marketu, a sprzedawca w markecie radzi 32kW, aby mieć zapas na mrozy?</p>
        <p>I kogo tu słuchać? Twój wybór. Ale solidną podpowiedź w kwestii wyboru kotła znajdziesz na <a href="http://czysteogrzewanie.pl" target="_blank">CzysteOgrzewanie.pl</a>, zaś tutaj dowiesz się, jakiej mocy kotła faktycznie potrzebujesz, by najbliższe lata życia upłynęły ci na życiu, a nie na walce ze źle dobranym kotłem.</p>
        <h2>Kto za tym stoi</h2>
        <p>Żaden producent, sprzedawca ani nawet instalator z branży grzewczej. Strona jest częścią serwisu <a href="http://czysteogrzewanie.pl" target="_blank">CzysteOgrzewanie.pl</a>. Jeśli szukasz kontaktu z autorem, chcesz o coś zapytać, podziękować albo nawrzucać, to <a href="http://czysteogrzewanie.pl/o-tej-stronie/">szukaj tutaj</a>.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
