Witaj<br>
<br>
Otrzymujesz ten e-mail ze strony <a href="http://cieplowlasciwie.pl">CieploWlasciwie.pl</a> jako potwierdzenie wykonania analizy potrzeb grzewczych twojego domu.<br>
Poniżej znajduje się link do wyników ostatnich obliczeń. Możesz go udostępniać wedle uznania.<br>
Swoje poprzednie obliczenia znajdziesz też w zakładce <a href="{{ url('my_results') }}">Moje wyniki</a>.<br>
<br>
<a href="{{ url('result', {'slug': calculation.slug}) }}">{{ url('result', {'slug': calculation.slug}) }}</a><br>
<br>
<br>
--<br>
CieploWlasciwie.pl
