{% extends '::landing.html.twig' %}

{% block body %}

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1>Moje wyniki</h1>
      </div>

      {% if results %}
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Opis</th>
                  <th>Data dodania</th>
              </tr>
          </thead>
          <tbody>
              {% for result in results %}
              <tr>
                  <td><a href="{{ path('result', {'slug': result.slug}) }}">{{ result.label }}</a></td>
                  <th>{{ result.created|date('d.m.Y') }}</th>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      {% else %}
      <div class="alert alert-info">
          Niestety, nic tu nie ma...
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
